<section class="header">
    <nav>


        <a href="" routerLink="/home">


            <img src="../../assets/Images/BackBenchers.jpg"
                height="150px" width="150px" style="border-radius: 50%;" alt="...">

        </a>
        <div class="nav-links" id="navLinks">

            <div class="d-flex">
                <ul>
                    <li><a href="" routerLink="/home">HOME</a></li>
                    <li><a href="" routerLink="/gallary">GALLARY</a></li>
                    <li><a href="" routerLink="/about">ABOUT US</a></li>
                    <li><a href="" routerLink="/contact">CONTACT US</a></li>
                    <!-- <li><a href="" routerLink="/room">ROOMDETAILS</a></li>
                    <li><a href="" routerLink="/reservation">BOOKROOM</a></li> -->
                    <a class="hero-btn" routerLink='/login'>LOGIN</a>
                    <hr>
                </ul>
            </div>
        </div>
    </nav>


    

    <section>
        <h1 style="text-align: center;font-size: 60px;margin: 25px; font-family: 'Audrey',sans serif ;color: rgb(102, 6, 6);">GALLERY</h1>
        <div class="row2">
            <div class="images">
                <img src="../../../assets/Images/image1.jpg" alt="">
            </div>
            <div class="images">
                <img src="https://www.itchotels.com/content/dam/itchotels/in/umbrella/images/new-hotels-desktop/welcomhotel-katra.png" alt="">
            </div>
            <div class="images">
                <img src="https://www.itchotels.com/content/dam/itchotels/in/umbrella/images/brands-desktop/itc-grand-goa.png" alt="">
            </div>
        </div>
        <div class="row2">
            <div class="images">
                <img src="../../../assets/Images/image4.jpg" alt="">
            </div>
            <div class="images">
                <img src="https://bsmedia.business-standard.com/_media/bs/img/article/2021-02/05/full/1612508290-954.jpg" alt="">
            </div>
            <div class="images">
                <img src="../../../assets/Images/image6.jpg" alt="">
            </div>
        </div>
        <div class="row2">
            <div class="images">
                <img src="../../../assets/Images/hotel/gallery7.jpg" alt="">
            </div>
            <div class="images">
                <img src="../../../assets/Images/hotel/gallery8.jpg" alt="">
            </div>
            <div class="images">
                <img src="../../../assets/Images/hotel/gallery9.jpg" alt="">
            </div>
        </div>
        <div class="row2">
          <div class="images">
              
              <img src="../../../assets/Images/hotel pic 1.jpg" alt="">
          </div>
          <div class="images">
              <img src="../../../assets/Images/hotel/gallery11.jpg" alt="">
          </div>
          <div class="images">
              <img src="../../../assets/Images/hotel/gallery12.jpg" alt="">
          </div>
      </div>
      <div class="row2">
        <div class="images">
            <img src="https://www.rd.com/wp-content/uploads/2018/08/aka.jpg"  alt="">
        </div>
        <div class="images">
            <img src="https://images.indianexpress.com/2021/06/Welcomhotel-Tavleen-Chail_1200.jpg" alt="">
        </div>
        <div class="images">
            <img src="../../../assets/Images/hotel/book.jpg" alt="">
        </div>
    </div>
    </section>

</section>