
<router-outlet></router-outlet>
<section class="header">
  <nav>

    <a href="" routerLink="/dashboard">

      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/Images/BackBenchers.jpg"
                         
              height="150px" width="150px" style="border-radius: 50%;" alt="...">
          </div>
        </div>
      </div>
    </a>

    <div class="nav-links" id="navLinks">

      <div class="d-flex">
        <ul>
          <li><a href="" routerLink="/home">HOME</a></li>
          <li><a href="" routerLink="/dashboard">DASHBOARD</a></li>
          <li><a href="" routerLink="/reservation">BOOKING DETAILS</a></li>
          <li><a href="" routerLink="/room">ROOM DETAILS</a></li>
          <li><a href="" routerLink="/department">DEPARTMENT</a></li>
          <li><a href="" routerLink="/inventory">INVENTORY</a></li>
          <li><a href="" routerLink="/staff">STAFF</a></li>
          
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="text-box">
    
    <p>WELCOME......</p>
    <P> to BACK BENCHERS .</P>
    <br >Pleasure to meet you...<br>
    
  </div>


</section>