<section class="header">
    <nav style="font-family: Helvetica, Arial, sans-serif;">
        <a href="" routerLink="/home"><img src="../../../assets/Images/BackBenchers.jpg" height="150px" width="150px" style="border-radius: 50%;" alt="no-image"></a>
        <div class="nav-links" id="navLinks">
            <ul>
                <li><a href="" routerLink="/home">HOME</a></li>
                <li><a href="" routerLink="/gallary">GALLERY</a></li>
                <li><a href="" routerLink="/about">ABOUT US</a></li>
                <li><a href="" routerLink="/contact">CONTACT</a></li>
                <a class="hero-btn" routerLink='/login'>LOGIN</a>
                <hr>
            </ul>
        </div>
    </nav>
  
    <h1 style="text-align: center;font-size: 60px;margin: 25px; font-family: Helvetica, Arial, sans-serif, cursive;font:gray;">ABOUT US</h1>
    <!-- About Section -->
    <div id="about">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-md-12 about-img"> </div>
          <div class="col-xs-12 col-md-12 col-md-offset-1">
            <div class="about-text">
              <div class="section-title">
                <h2 style="text-align: center;">...</h2>
              </div>
                <!-- <p style="text-align:center;" > -->
                <p style="margin-left: 18px;">
                  1. Simple Booking<br>
                  2. Fast, Friendly First Contact<br>
                  3. A Genuinely Cheerful, Helpful, Knowledgeable Staff<br>
                  4. Distinctive, Well-Appointed Guest Rooms That Are Exactly What You’ve Asked for<br>
                  5. On-Site Services That Delight<br>
                  6. 24-hour fitness center<br>
                  7. A social lobby<br>
                  8. A Variety of Excellent Food and Drink<br>
                  9. Quick Resolution of Problems<br>

                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  
    <section class="testimonials">
      <h1>Customers Feedback</h1>
      
      <div class="row">
        <div class="testimonials-col">
          <img src="../../../assets/Images/men.jpg" alt="">
          <div>
            <h3>Satyam</h3>
            <p>I stayed with my wife and it was the fantastic stay. Everything from hygiene, service to food in the restaurant, was perfect. Would love to stay again.</p>
          </div>
        </div>
        <div class="testimonials-col">
          <img src="../../../assets/Images/women.jpg" alt="">
          <div>
            <h3>Ellora</h3>
            <p>"A great place for family outing with "out of the universe" prices and service .Ambience, interiors, staff, services, etc all over of a top notch quality.Upstairs sea lounge offers great food and drinks in an interesting environment."
            </p>
          </div>
        </div>
      </div>
    </section>
  
  
  
  </section>
  
