<router-outlet></router-outlet>
<section class="header">
    <nav>
        <a href="" routerLink="/home"><img src="../../../assets/Images/BackBenchers.jpg" height="150px" width="150px" style="border-radius: 50%;" alt="no-image"></a>
        <div class="nav-links" id="navLinks">
            <ul>
                <li><a href="" routerLink="/home">HOME</a></li>
                <li><a href="" routerLink="/gallary">GALLERY</a></li>
                <li><a href="" routerLink="/about">ABOUT US</a></li>
                <li><a href="" routerLink="/contact">CONTACT</a></li>
                <a class="hero-btn" routerLink='/login'>LOGIN</a>
                <hr>
            </ul>
        </div>
    </nav>
  
  
  
  <section class="contact-us">
    <h1 style="text-align: center;font-style: oblique ;font-size: 60px;margin: 10px; font-family: Tahoma,  sans-serif;">CONTACT US</h1>
      
    <div class="row">
        <div class="contact-col">
            <div>
                <i class="fa fa-home"></i>
                <span>
                  <h6>Address:</h6>
                  <h5>Gate Bazzar,Berhampur</h5>
                  <p>Ganjam,Odisha, IN</p>
              </span>
              </div>
              <div>
                  <i class="fa fa-phone"></i>
              <span>
                  <h6>Mobile Number : </h6>
                  <h5>+91 7327054275</h5>
                  <h6>Timings :</h6>
                  <p>Everyday, 10AM to 12PM</p>
              </span>
              </div>
              <div>
                  <i class="fa fa-envelope-o"></i>
              <span>
                  <h6>Email Address :</h6>
                  <h5>askhere@gmail.com</h5>
                  <p>(  Email us your query  )</p>
              </span>
            </div>
        </div>
        </div>
    </section>
  </section>
